<div class="work-with-us">
    <p class="border"></p>
    <p class="title">How to work with us?</p>
</div>

<div class="stop-babysitting-dev">
    <div class="content-top">
        <div class="text">
            <div class="top">
                <span class="step">Step 1</span>
            </div>
            <div class="bottom context">
                Let’s talk! We offer a free consultation with a Magento expert to learn more about your site. We want to
                know your pain points and aspirations while sharing a little more about our process.
            </div>
        </div>
        <div class="image">
            <img src="/img/undraw_Working_re_ddwy.png" alt="img">
        </div>
    </div>
    <div class="content-bottom">
        <div class="image">
            <img src="/img/undraw_Add_to_cart_re_wrdo.png" alt="img">
        </div>
        <div class="text">
            <div class="top">
                <span class="step">Step 2</span>
            </div>
            <div class="bottom context">
                Let us audit your Magento site. This usually takes between 2-5 hours and helps us quickly determine a
                high level path forward and estimate.
            </div>
        </div>
    </div>
    <div class="content-top">
        <div class="text">
            <div class="top">
                <span class="step">Step 3</span>
            </div>
            <div class="bottom context">
                Let us get to work for you! We will share detailed task information and check step with your team
                periodically to ensure we are meeting and exceeding your needs. You will also receive weekly updates, so
                you are never left wondering what is being accomplished.
            </div>
        </div>
        <div class="image">
            <img src="/img/undraw_Taking_notes_re_bnaf.png" alt="img">
        </div>
    </div>
</div>
