<div class="blog-home" xmlns="http://www.w3.org/1999/html">
    <div class="title">
        What Our Client Says
    </div>
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <div>
                <p class="content">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
                </p>

				<div class="content-bottom">
					<div class="author">
						<p><img src="/img/author.png" alt="img" /></p>
						<div class="person">
							<p class="name">John Doe</p>
							<p class="position">Director of Operation</p>
						</div>
					</div>
					<div class="last-content">
						<img src="/img/especialneed.png" alt="img" />
					</div>
				</div>
            </div>
        </div>

		<div class="mySlides fade">
			<div>
				<p class="content">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
					et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
					et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
				</p>

				<div class="content-bottom">
					<div class="author">
						<p><img src="/img/author.png" alt="img" /></p>
						<div class="person">
							<p class="name">John Doe</p>
							<p class="position">Director of Operation</p>
						</div>
					</div>
					<div class="last-content">
						<img src="/img/especialneed.png" alt="img" />
					</div>
				</div>
			</div>
		</div>

		<div class="mySlides fade">
			<div>
				<p class="content">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
					et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
					et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
				</p>

				<div class="content-bottom">
					<div class="author">
						<p><img src="/img/author.png" alt="img" /></p>
						<div class="person">
							<p class="name">John Doe</p>
							<p class="position">Director of Operation</p>
						</div>
					</div>
					<div class="last-content">
						<img src="/img/especialneed.png" alt="img" />
					</div>
				</div>
			</div>
		</div>

		<div class="mySlides fade">
			<div>
				<p class="content">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
					et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
					et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
				</p>

				<div class="content-bottom">
					<div class="author">
						<p><img src="/img/author.png" alt="img" /></p>
						<div class="person">
							<p class="name">John Doe</p>
							<p class="position">Director of Operation</p>
						</div>
					</div>
					<div class="last-content">
						<img src="/img/especialneed.png" alt="img" />
					</div>
				</div>
			</div>
		</div>

		<div class="mySlides fade">
			<div>
				<p class="content">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
					et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
					et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
				</p>

				<div class="content-bottom">
					<div class="author">
						<p><img src="/img/author.png" alt="img" /></p>
						<div class="person">
							<p class="name">John Doe</p>
							<p class="position">Director of Operation</p>
						</div>
					</div>
					<div class="last-content">
						<img src="/img/especialneed.png" alt="img" />
					</div>
				</div>
			</div>
		</div>

		<div class="mySlides fade">
			<div>
				<p class="content">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
					et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
					labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
					et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
				</p>

				<div class="content-bottom">
					<div class="author">
						<p><img src="/img/author.png" alt="img" /></p>
						<div class="person">
							<p class="name">John Doe</p>
							<p class="position">Director of Operation</p>
						</div>
					</div>
					<div class="last-content">
						<img src="/img/especialneed.png" alt="img" />
					</div>
				</div>
			</div>
		</div>
    </div>

    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
		<span class="dot" onclick="currentSlide(4)"></span>
		<span class="dot" onclick="currentSlide(5)"></span>
		<span class="dot" onclick="currentSlide(6)"></span>
    </div>
</div>

<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>

<div class="get-in">
	<div class="title">
		Get In Touch With Us
	</div>
	<form>
		<div class="context">
			<p class="label">Name</p>
			<input name="name" type="text" />
		</div>
		<div class="context">
			<p class="label">Phone Number</p>
			<input name="phonenumber" type="text" />
		</div>
		<div class="context">
			<p class="label">Email Address</p>
			<input name="email" type="email" />
		</div>
		<div class="context">
			<p class="label">Message</p>
			<textarea name="message"></textarea>
		</div>

		<button type="submit">Send Message</button>
	</form>
</div>
