<div class="stop-babysitting-dev">
    <div class="content-top">
        <div class="text">
            <div class="top">
                <img src="/img/icon-tone.png" alt="img"/>
                <span>Stop Babysitting Devs</span>
            </div>
            <div class="bottom">
                e-Commerce business owners waste time managing developers who fail to understand their requirements.
            </div>
        </div>
        <div class="image">
            <img src="/img/undraw_bug_fixing_oc7a.png" alt="img"/>
        </div>
    </div>
    <div class="content-bottom">
        <div class="image">
            <img src="/img/undraw_Code_review_re_woeb.png" alt="img"/>
        </div>
        <div class="text">
            <div class="top">
                <img src="/img/icon-tone.png" alt="img"/>
                <span>Press the Easy Button</span>
            </div>
            <div class="bottom">
                We are obsessed with making your life easier. Our team is designed to quickly document and understand
                your pain points so that finding a quality solution is our worry, not yours.
            </div>
        </div>
    </div>
</div>
