<div class="stop-babysitting-dev">
    <div class="content-top">
        <div class="text">
            <div class="top">
                <img src="/img/icon-tone.png" alt="img"/>
                <span>Stop Babysitting Devs</span>
            </div>
            <div class="bottom">
                e-Commerce business owners waste time managing developers who fail to understand their requirements.
            </div>
        </div>
        <div class="image">
            <img src="/img/undraw_bug_fixing_oc7a.png" alt="img"/>
        </div>
    </div>
    <div class="content-bottom">
        <div class="image">
            <img src="/img/undraw_Code_review_re_woeb.png" alt="img"/>
        </div>
        <div class="text">
            <div class="top">
                <img src="/img/icon-tone.png" alt="img"/>
                <span>Press the Easy Button</span>
            </div>
            <div class="bottom">
                We are obsessed with making your life easier. Our team is designed to quickly document and understand
                your pain points so that finding a quality solution is our worry, not yours.
            </div>
        </div>
    </div>
</div>

<div class="life-easier">
    <img src="/img/life-easier.png" alt="img"/>
    <div class="content">
        <p class="title">How do we make your life easier?</p>
        <a class="let-talk" href="/why-choose-us">Let’s Talk!</a>
    </div>

    <div class="slider best-developer">
        <div class="block">
            <div class="top">
                <img src="/img/icon-tone.png" alt="img"/>
                <span>Only the Best Developers</span>
            </div>
            <div class="description">
                Finding a great Magento developer can be a nightmare. We know because we’ve hired dozens over the years.
                We
                are extremely picky, and have rigorous hiring standards to ensure our developer talent rants in the
                90th+
                percentile. Not just good, or really good, we hire the best!
            </div>
        </div>
        <div class="block">
            <div class="top">
                <img src="/img/icon-tone.png" alt="img"/>
                <span>Quick Response</span>
            </div>
            <div class="description">
                We are based in Kingsport, TN and work during US hours to ensure quick response time for our clients. We
                have dedicated project managers who obsess over keeping you updated and informed throughout the project.
            </div>
        </div>
        <div class="block">
            <div class="top">
                <img src="/img/icon-tone.png" alt="img"/>
                <span>Quick Response</span>
            </div>
            <div class="description">
                We are based in Kingsport, TN and work during US hours to ensure quick response time for our clients. We
                have dedicated project managers who obsess over keeping you updated and informed throughout the project.
            </div>
        </div>
        <div class="block">
            <div class="top">
                <img src="/img/icon-tone.png" alt="img"/>
                <span>Quick Response</span>
            </div>
            <div class="description">
                We are based in Kingsport, TN and work during US hours to ensure quick response time for our clients. We
                have dedicated project managers who obsess over keeping you updated and informed throughout the project.
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.slider').slick({
            slidesToShow: 2,
            slidesToScroll: 1,
            dots: false,
            arrows: false,
            infinite: true,
            autoplay: false,
            autoplaySpeed: 3000,
            cssEase: 'linear',
            responsive: [
                {
                    breakpoint: 1500,
                    settings: {
                        slidesToShow: 1,
                        dots: false,
                    }
                },
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 1,
                    }
                },
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 1,
                        dots: true,
                    }
                },
            ]
        });
    });
</script>
