<div class="our-promise" id="ourPromise">
	<div class="title">
		Our Promise
	</div>
	<div class="main-content">
		<div class="content">
			<p class="number">1</p>
			<p class="description">
				Quick, consistent, and open communication in your time zone.
			</p>
		</div>
		<div class="content">
			<p class="number">2</p>
			<p class="description">
				No surprises! Only hours logged against approved tasks within estimates will be billed.
			</p>
		</div>
		<div class="content">
			<p class="number">3</p>
			<p class="description">
				Quality code from great developers that strictly adheres to Magento best practices.
			</p>
		</div>
	</div>
</div>
