html,
body {
    overflow-x: hidden;
}

nav.hidden {
    display: none;
}

div.pv5.pv6-l.ph3.bg-center.cover {
    padding: 0;
    margin-right: -12%;
    position: relative;
}

div.pv5.pv6-l.ph3.bg-center.cover img {
    width: 100%;
}

div.pv5.pv6-l.ph3.bg-center.cover > nav {
    position: absolute;
    top: 0;
    background: none;
    box-shadow: none;
    width: 90%;
    margin-top: 10px;
}

a.pa3.db.mr4.h-100.flex-none {
    width: 140px;
    padding: 0;
    margin: 0 0 0 89px;
}

ul.flex.b.grey-3 {
    float: right;
    margin-right: 89px;
}

ul.flex.b.grey-3 a {
    font-size: 18px;
    line-height: 23px;
    color: white;
    font-weight: 700;
    box-shadow: none;
}

ul.flex.b.grey-3 a:hover {
    color: #FFA0A0;
    text-decoration: underline;
}

ul.flex.b.grey-3 li:last-child {
    background: #FFFFFF 0 0 no-repeat padding-box;
    border-radius: 25px;
    width: 182px;
    height: 43px;
    margin-top: 10px;
}

ul.flex.b.grey-3 li:last-child a:hover {
    text-decoration: none;
    background: #F7B367 0 0 no-repeat padding-box;
    color: #FFFFFF;
    border-radius: 25px;
}

ul.flex.b.grey-3 li:last-child a {
    color: #F15E56;
    padding: 10px 23px;
}

.banner-header .mw7.center.ph3 {
    position: absolute;
    top: 50%;
    left: 89px;
    transform: translate(0, -50%);
    padding: 0;
    max-width: 640px;
}

.banner-header h1.title {
    font-size: 52px;
    line-height: 58px;
    font-weight: bold;
}

.banner-header .mw7.relative.bg-fix-primary.mb3 {
    padding: 0;
    margin-bottom: 10px;
}

.banner-header .description {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.let-talk {
    display: block;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border-radius: 25px;
    width: 187px;
    height: 43px;
    text-decoration: none;
    text-align: center;
    line-height: 43px;
    color: #F15E56;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}

.let-talk:hover {
    background: #F15E56;
    color: #FFFFFF;
}

.stop-babysitting-dev {
    max-width: 1203px;
    margin: 0 auto;
    padding: 0 15px;
}

.stop-babysitting-dev .content-top,
.stop-babysitting-dev .content-bottom {
    display: flex;
    align-items: center;
}

.stop-babysitting-dev .content-bottom {
    margin: 44px 0 76px;
}

.stop-babysitting-dev .content-top .text {
    width: 654px;
    margin-right: 43px;
}

.stop-babysitting-dev .content-bottom .text {
    width: 601px;
    margin-left: 60px;
}

.stop-babysitting-dev .top {
    margin-bottom: 9px;
}

.stop-babysitting-dev .top span {
    font-size: 48px;
    line-height: 58px;
    font-weight: bold;
    color: #535353;
    margin-left: 8px;
}

.stop-babysitting-dev .bottom {
    font-size: 20px;
    line-height: 25px;
    color: #535353;
}

.life-easier {
    position: relative;
    margin-bottom: 200px;
}

.life-easier .content {
    position: absolute;
    top: 50%;
    left: 89px;
    transform: translate(0, -50%);
}

.life-easier img {
    width: 100%;
}

.life-easier .content .title {
    font-size: 32px;
    line-height: 35px;
    color: white;
    font-weight: 700;
}

.best-developer {
    position: absolute;
    bottom: -117px;
    left: 32%;
    width: 100%;
    overflow-x: auto;
    padding-bottom: 15px;
    white-space: nowrap;
    max-width: 68%;
}

.best-developer .block {
    width: 616px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 15px;
    padding: 37px 49px 28px 53px;
    display: inline-block;
    min-height: 292px;
    vertical-align: top;
    margin-left: 70px;
}

.best-developer .block:first-child {
    margin-left: 0;
}

.best-developer .block .top span {
    font-size: 36px;
    line-height: 58px;
    color: #535353;
    font-weight: 700;
    margin-left: 25px;
}

.best-developer .block .top img {
    vertical-align: sub;
    width: auto;
}

.best-developer .block .description {
    font-size: 20px;
    line-height: 25px;
    color: #535353;
    font-weight: 400;
    margin-top: 19px;
    white-space: normal;
}

.work-with-us {
    text-align: center;
}

.work-with-us .border {
    background: transparent linear-gradient(90deg, #EDB573 0%, #E0675C 100%) 0 0 no-repeat padding-box;
    border-radius: 20px;
    width: 192px;
    height: 20px;
    margin: auto;
}

.work-with-us .title {
    font-size: 48px;
    line-height: 58px;
    font-weight: bold;
    color: #535353;
    text-align: center;
    margin: 23px auto 52px;
}

.stop-babysitting-dev .top span.step {
    font-size: 36px;
    line-height: 36px;
    color: #F15E56;
    font-weight: bold;
    margin: 0;
}

.stop-babysitting-dev .bottom.context {
    max-width: 555px;
}

.our-promise {
    background: #F7F7F7 0 0 no-repeat padding-box;
    padding-bottom: 109px;
}

.our-promise .title {
    font-size: 48px;
    line-height: 58px;
    color: #535353;
    text-align: center;
    padding: 60px 0 54px;
    margin-top: 90px;
    font-weight: bold;
}

.our-promise .main-content {
    max-width: 1203px;
    margin: 0 auto;
    padding: 0 15px;
}

.our-promise .main-content .content {
    max-width: 293px;
    margin-left: 114px;
    display: inline-block;
    vertical-align: top;
}

.our-promise .main-content .content:first-child {
    margin-left: 0;
}

.our-promise .main-content .content .number {
    font-size: 50px;
    line-height: 36px;
    color: #F15E56;
    font-weight: bold;
    margin-bottom: 11px;
}

.our-promise .main-content .content .description {
    font-size: 20px;
    line-height: 25px;
    color: #535353;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    margin: 0 auto 15px;
    padding: 66px 54px 69px 67px;
    position: relative;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    max-width: 818px;
    border-bottom: 10px solid #E0675C;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    margin: 0 2px;
    display: inline-block;
    transition: background-color 0.6s ease;
    height: 5px;
    width: 20px;
    background: #9B9B9B 0 0 no-repeat padding-box;
}

.active, .dot:hover {
    background-color: #F7B367;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.slideshow-container .content {
    font-size: 18px;
    line-height: 23px;
    max-width: 100%;
    color: #535353;
}

.slideshow-container .content-bottom {
    position: relative;
}

.slideshow-container .content-bottom .author {
    display: inline-flex;
    font-size: 18px;
    line-height: 23px;
    color: #535353;
    font-weight: bold;
}

.slideshow-container .content-bottom .person {
    margin-left: 19px;
}

.slideshow-container .content-bottom .person p {
    margin-bottom: 0;
}

.slideshow-container .content-bottom .last-content {
    position: absolute;
    top: 0;
    right: 0;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.blog-home {
    max-width: 1203px;
    padding: 0 15px 76px;
    margin: auto;
}

.blog-home .title {
    font-size: 48px;
    line-height: 58px;
    color: #535353;
    font-weight: bold;
    text-align: center;
    padding: 76px 0 44px;
}

.get-in {
    background: transparent linear-gradient(180deg, #F15E56 0%, #F7B367 100%) 0 0 no-repeat padding-box;
}

.get-in form {
    max-width: 615px;
    margin: auto;
    text-align: center;
    padding-bottom: 73px;
}

.get-in .title {
    font-size: 48px;
    line-height: 58px;
    font-weight: bold;
    color: white;
    padding: 52px 0 48px;
    text-align: center;
}

.get-in .context {
    margin-bottom: 21px;
}

.get-in form input {
    width: 100%;
    background: white;
    border-radius: 10px;
}

.get-in form .label {
    font-size: 18px;
    line-height: 23px;
    color: white;
    margin-bottom: 7px;
    text-align: left;
}

.get-in form textarea {
    width: 100%;
    height: 145px;
    border-radius: 10px;
    margin-bottom: 31px;
    background: white;
}

.get-in form button {
    background: #FFFFFF 0 0 no-repeat padding-box;
    border-radius: 25px;
    width: 244px;
    height: 48px;
    margin: auto;
    text-align: center;
    font-size: 18px;
    line-height: 23px;
    color: #F15E56;
    font-weight: bold;
}

.get-in form button:hover {
    background: #F15E56 0 0 no-repeat padding-box;
    color: #FFFFFF;
    border-radius: 25px;
}

.footer {
    background: #535353 0 0 no-repeat padding-box;
    font-size: 18px;
    line-height: 23px;
    color: white;
    text-align: center;
    padding: 47px 0 43px;
}

.icon-nav {
    display: none;
}

@media only screen and (max-width: 1199px) {
    a.pa3.db.mr4.h-100.flex-none {
        margin: 0 0 0 40px;
    }

    ul.flex.b.grey-3 {
        margin-right: 40px;
    }

    .banner-header h1.title {
        font-size: 42px;
        line-height: 58px;
    }

    .banner-header .mw7.center.ph3 {
        left: 50px;
        max-width: 515px;
    }

    .banner-header .description {
        font-size: 16px;
        line-height: 20px;
    }

    .mw7.relative {
        line-height: 20px;
    }

    .let-talk {
        font-size: 16px;
    }

    .stop-babysitting-dev {
        padding: 0 50px;
    }

    .stop-babysitting-dev .top span {
        margin-left: 0;
        font-size: 36px;
        line-height: 58px;
        vertical-align: bottom;
    }

    .stop-babysitting-dev .content-top .text {
        max-width: 498px;
    }

    .stop-babysitting-dev .bottom {
        font-size: 16px;
        line-height: 20px;
    }

    .life-easier .content {
        left: 50px;
        top: 35%;
    }

    .best-developer .block {
        max-width: 534px;
        min-height: 268px;
    }

    .best-developer .block {
        padding: 53px 40px 37px 54px;
    }

    .best-developer {
        left: 43%;
        max-width: 57%;
    }

    .best-developer .block .top span {
        font-size: 28px;
        line-height: 58px;
        margin-left: 5px;
        vertical-align: revert;
    }

    .best-developer .block .description {
        font-size: 16px;
        line-height: 20px;
    }

    .work-with-us .border {
        width: 150px;
        height: 16px;
    }

    .work-with-us .title {
        font-size: 36px;
        line-height: 58px;
    }

    .stop-babysitting-dev .content-top,
    .stop-babysitting-dev .content-bottom {
        display: grid;
        text-align: center;
    }

    .stop-babysitting-dev .content-top img,
    .stop-babysitting-dev .content-bottom img {
        max-width: 350px;
    }

    .stop-babysitting-dev .content-top .text,
    .stop-babysitting-dev .content-bottom .text {
        order: 2;
        margin: auto;
    }

    .stop-babysitting-dev .top {
        margin-bottom: 23px;
    }

    .stop-babysitting-dev .top span.step {
        font-size: 28px;
        line-height: 36px;
    }

    .our-promise {
        padding-bottom: 69px;
    }

    .our-promise .title {
        font-size: 36px;
        line-height: 58px;
        padding: 53px 0 41px;
    }

    .our-promise .main-content {
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
    }

    .our-promise .main-content .content {
        max-width: 220px;
    }

    .our-promise .main-content .content .number {
        font-size: 42px;
        line-height: 36px;
        margin-bottom: 23px;
    }

    .our-promise .main-content .content .description {
        font-size: 16px;
        line-height: 20px;
    }

    .blog-home .title {
        font-size: 36px;
        line-height: 58px;
        padding: 54px 0 41px;
    }

    .blog-home {
        padding: 0 15px 69px;
    }

    .slideshow-container {
        padding: 55px 41px 28px;
        max-width: 750px;
    }

    .slideshow-container .content {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 36px;
    }

    .slideshow-container .content-bottom .author {
        font-size: 16px;
        line-height: 20px;
    }

    .get-in .title {
        font-size: 36px;
        line-height: 58px;
        padding: 78px 0 26px;
    }

    .get-in form .label {
        font-size: 16px;
        line-height: 20px;
    }

    .get-in form {
        max-width: 550px;
    }

    .get-in form input {
        padding: 6px 16px;
    }

    .get-in form textarea {
        height: 120px;
    }

    .get-in form button {
        width: 200px;
        height: 40px;
        font-size: 16px;
        line-height: 20px;
    }

    .footer {
        font-size: 16px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 900px) {
    a.pa3.db.mr4.h-100.flex-none {
        width: 80px;
        margin-left: 15px;
    }

    .banner-header .mw7.center.ph3 {
        left: 45%;
        max-width: max-content;
        text-align: center;
        transform: translate(-50%, -50%);
        width: 85%;
    }

    .banner-header h1.title {
        font-size: 30px;
        line-height: 40px;
    }

    div.pv5.pv6-l.ph3.bg-center.cover img {
        min-height: 458px;
    }

    div.pv5.pv6-l.ph3.bg-center.cover img.br0 {
        min-height: unset;
    }

    .let-talk {
        margin: 22px auto 0;
        max-width: 150px;
    }

    .stop-babysitting-dev {
        padding: 0;
    }

    .stop-babysitting-dev .content-top .text {
        width: auto;
    }

    .stop-babysitting-dev .content-top img,
    .stop-babysitting-dev .content-bottom img {
        max-width: 250px;
    }

    .stop-babysitting-dev .content-bottom .text {
        width: auto;
    }

    .stop-babysitting-dev .top span {
        font-size: 20px;
        line-height: 58px;
    }

    .stop-babysitting-dev .content-top .top img,
    .stop-babysitting-dev .content-bottom .top img {
        width: 25px;
        vertical-align: super;
    }

    .stop-babysitting-dev .top {
        margin-bottom: 10px;
        line-height: 32px;
        height: 45px;
    }

    .stop-babysitting-dev .content-top {
        padding: 0 10px;
    }

    .stop-babysitting-dev .content-bottom {
        background: #f7f7f7;
        padding: 45px 10px;
        margin-bottom: 0;
    }

    .life-easier > img {
        min-height: 428px;
    }

    .life-easier .content .title {
        font-size: 24px;
        line-height: 30px;
    }

    .life-easier .content {
        left: 50%;
        top: 28%;
        transform: translate(-50%, -50%);
        width: 289px;
        text-align: center;
    }

    .best-developer .block {
        padding: 35px 20px;
        max-width: 95%;
        margin-left: 25px;
    }

    .best-developer {
        left: 20px;
        max-width: 100%;
        bottom: -90px;
        width: calc(100% - 20px);
    }

    .best-developer .block .top img {
        width: 25px;
    }

    .best-developer .block .top span {
        font-size: 21px;
    }

    .best-developer .block .description {
        text-align: center;
        margin-top: 0;
    }

    .life-easier {
        margin-bottom: 130px;
    }

    .work-with-us .title {
        font-size: 28px;
        line-height: 58px;
        margin: 30px 0 44px;
    }

    .stop-babysitting-dev .content-top img,
    .stop-babysitting-dev .content-bottom img {
        max-width: 100%;
    }

    .stop-babysitting-dev .content-bottom {
        background: white;
    }

    .our-promise .title {
        font-size: 28px;
        line-height: 58px;
        padding: 49px 0 0;
    }

    .our-promise .main-content {
        display: block;
        text-align: center;
    }

    .our-promise .main-content .content {
        margin: 47px 0 0;
        max-width: 270px;
    }

    .our-promise .main-content .content .number {
        background: #F15E56;
        width: 67px;
        height: 67px;
        border-radius: 50%;
        text-align: center;
        color: white;
        line-height: 67px;
        margin: 0 auto 24px;
    }

    .blog-home .title {
        font-size: 28px;
        line-height: 58px;
        padding: 63px 0 23px;
    }

    .slideshow-container {
        padding: 40px 35px;
    }

    .slideshow-container .content-bottom {
        text-align: center;
    }

    .slideshow-container .content-bottom .author {
        display: block;
    }

    .slideshow-container .content-bottom .last-content {
        position: relative;
        width: 35px;
        margin: 8px auto 0;
    }

    .get-in {
        padding: 0 35px;
    }

    .get-in .title {
        font-size: 28px;
        line-height: 58px;
        padding: 54px 0 23px;
    }

    .get-in form input {
        height: 40px;
    }

    ul.flex.b.grey-3 {
        display: none;
    }

    .icon-nav {
        display: block;
        width: 30px !important;
        position: relative;
        min-height: auto !important;
        margin-right: 15px;
    }

    ul.flex.b.grey-3.nav-toggle-mob {
        display: block;
        position: fixed;
        background: white;
        z-index: 1;
        top: 52px;
        right: 8px;
        margin: 0;
        width: 95%;
        border-radius: 15px;
        padding: 18px 0;
    }

    ul.flex.b.grey-3.nav-toggle-mob a {
        color: #F15E56;
        padding: 18px 18px 0;
    }

    ul.flex.b.grey-3 li:first-child a {
        padding-top: 0;
    }

    ul.flex.b.grey-3 li:last-child a {
        padding-top: 18px;
    }

    ul.flex.b.grey-3 li:last-child {
        width: 100%;
        margin: 0;
    }

    ul.flex.b.grey-3 li:last-child a {
        padding: 18px;
    }
}
