body {
    overflow-x: hidden;
}

nav.hidden {
    display: none;
}

div.pv5.pv6-l.ph3.bg-center.cover {
    padding: 0;
    margin-right: -12%;
    position: relative;
}

div.pv5.pv6-l.ph3.bg-center.cover img {
    width: 100%;
}

div.pv5.pv6-l.ph3.bg-center.cover > nav {
    position: absolute;
    top: 0;
    background: none;
    box-shadow: none;
}
